{{ define "Edit" }}
  {{ template "Header" }}
   <h2 class="my-5">Edit Data</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <div class="input-group mb-3">
        <input type="text" name="name" class="form-control" value="{{ .Name }}" placeholder="Masukkan nama kamu" aria-label="name" aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-5">
        <input type="text" name="city" class="form-control" value="{{ .City }}" placeholder="Masukkan kota kamu" aria-label="city" aria-describedby="basic-addon1" required>
      </div>
      <button type="submit" class="btn btn-primary">Edit</button>
      <a href="/" class="btn btn-outline-dark">Cancel</a>
    </form>
  {{ template "Footer" }}
{{ end }}